.classes-header {
  display: flex;
  padding: 10px;
  background: #f2f2f2;
}
span {
  font-weight: bold;
}
.className,
.teacherName {
  width: 40%;
}

.occupancy {
  width: 100%;
}

.options {
  width: 40%;
}
